{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{%static "css/style.css"%}">

   

  </head>
  <body>
  


      


    <h class ="bg-success text-white">This is firstApp home page</h>
    <div>
    </div>

    {% comment %} context data from backend  {% endcomment %}

    

    {% comment %} <img src="{% static "images/bird1.jpeg"%}" alt="hello world">  {% endcomment %}
    <img src="{%static "images/bird2.jpeg"%}" alt="this is a image">
    <!-- way-2-->








  </body>
</html>
